/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrap {width: 960px; margin: 0 auto;}
.left {float: left;}
.right {float: right;}
* {font-family: Arial, Verdana, 'Times New Roman';}
* a:focus {outline: none;}

#overlay {display: block; position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%;
    background: url('../img/overlay.png') repeat;}
.popup {display: block; position: fixed; z-index: 1100; top: 100px; left: 50%; width: 740px; margin-left: -370px;}
.popup .popup_wrap {background-color: #fff;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.popup .popup_wrap .top {width: auto; cursor: pointer;}
.popup .popup_wrap .top .close_popup, .close_popup_block {font-size: 14px; color: #3a3a3a; text-transform: uppercase;
    line-height: 20px; cursor: pointer; width: 20px; background-color: #dadada; height: 20px;
    text-align: center;}
.popup .popup_wrap .top .close_popup:hover, .close_popup_block:hover {background-position: bottom left;}


.popup .popup_wrap .center {padding: 12px 20px 60px 20px;}
.popup .popup_wrap .center .block_foto {width: 270px; margin-right: 10px; -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;}
.popup .popup_wrap .center .block_foto .img {width: 265px; height: 234px;
    background-color: #b98989; border: 1px solid #dedede;}
.popup .popup_wrap .center .block_foto .text1 {padding: 15px 0px 50px;}
.popup .popup_wrap .center .block_foto .text1 div {}
.popup .popup_wrap .center .block_foto .text1 div p {margin: 0px; color: #3a3a3a; font-size: 16px; line-height: 20px;}


.popup .popup_wrap .center .block_info {width: 405px; margin-left: 10px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box;}
.popup .popup_wrap .center .block_info p {margin: 0px; font-size: 16px; line-height: 19px; color: #3a3a3a;
    padding: 2px 0px;}
.popup .popup_wrap .center .block_info p:first-of-type {padding-top: 0px;}
.popup .popup_wrap .center .block_info p:last-of-type {padding-bottom: 0px;}

.popup .popup_wrap .center .btn_popup {}

.popup .popup_wrap .center .btn_popup > div {text-align: center; padding: 0px 25px;}
.popup .popup_wrap .center .btn_popup a.reserve {color: #fff; font-size: 14px; line-height: 30px; height: 30px;
    background: none; background-color: #3b7db5; text-decoration: none;
    margin-bottom: 13px; display: inline-block; width: 100%;}
.popup .popup_wrap .center .btn_popup .clearfix a {display: inline-block!important; width: 105px!important; height: 23px!important;
    background: url('../img/spryte_popup_social.png') no-repeat;}
.popup .popup_wrap .center .btn_popup a.fb {background-position: top left; display: block;}
.popup .popup_wrap .center .btn_popup a.vk {background-position: bottom left; display: block;}


/* HEADER */
header {background-color: #3b7db5;}
header .wrap .top_header {width: 770px; padding-top: 10px;}
header .wrap .top_header .dictum {font-size: 23px; color: #fff; line-height: 23px;
    text-align: left;}
header .wrap .top_header .lk_office {}
header .wrap .top_header .lk_office ul {list-style-type: none; margin: 0px; padding: 0px;}
header .wrap .top_header .lk_office ul li {float: left; margin-right: 20px; position: relative;
    z-index: 1000;}
header .wrap .top_header .lk_office ul li:last-of-type {margin-right: 0px;}
header .wrap .top_header .lk_office ul li a {text-decoration: none; font-size: 14px;
    color: #eee; height: 38px; position: relative; z-index: 2200;}

/* LOGIN */
header .wrap .top_header .lk_office ul li a.top_menu_item span {padding: 5px;}
header .wrap .top_header .lk_office ul li.active a.top_menu_item span {color: #303030; background-color: #fff;}
header .wrap .top_header .lk_office ul li a.top_menu_item span.ico {display: block; padding: 0;
    width: 6px; height: 6px; position: absolute; right: 0; top: 11px;
    background: url('../img/arrow_login_white.png') no-repeat transparent 0px 0px;}
header .wrap .top_header .lk_office ul li.active a.top_menu_item {
    -webkit-box-shadow: 0px -5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -5px 10px 0px rgba(50, 50, 50, 0.75);}
header .wrap .top_header .lk_office ul li.active a.top_menu_item span.ico {
    background: url('../img/arrow_login.png') no-repeat transparent 0px 0px; top: -3px; right: 2px;}
header .wrap .top_header .lk_office ul li.en.active {background-position: 62px 7px;}
header .wrap .top_header .lk_office ul li > div {display: none;}
header .wrap .top_header .lk_office ul li.active > div {display: block;}
header .wrap .top_header .lk_office ul li .popup_login .block_login {background-color: #fff; right: 0;
    width: 543px; height: 285px; position: absolute; z-index: 999;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social {width: 200px;
    padding: 8px 0px 0px 20px; border-right: 1px solid #ccc; margin: 17px 0px 10px; height: 250px;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social h5 {font-size: 20px;
    line-height: 20px; color: #000; margin: 0; padding-bottom: 10px; font-weight: normal;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social ul {
    list-style-type: none; margin: 0; padding: 10px 0px 30px;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social ul li {float: left;
    margin-right: 8px;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social ul li:last-of-type {margin-right: 0px;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social ul li a {
    text-decoration: none; display: block; background: url('../img/spryte_social_login.png') no-repeat;
    height: 35px; width: 40px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
    border-radius: 4px; padding: 0;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social ul li a.fb {background-position: 16px 8px;
    background-color: #3c5a98;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social ul li a.tw {background-position: -20px 9px;
    background-color: #2daae2;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social ul li a.gl {background-position: -60px 9px;
    background-color: #d54735;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social p {font-size: 11px; line-height: 15px;
    color: #303030; padding: 0; text-decoration: none; margin: 0;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .form_block {width: 318px;
    padding: 25px 0px 0px 22px; -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .form_block .form {}
header .wrap .top_header .lk_office ul li .popup_login .block_login .form_block .form h5 {font-size: 24px;
    line-height: 24px; color: #000; margin: 0; padding-bottom: 20px; font-weight: normal;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .form_block .form .item {}
header .wrap .top_header .lk_office ul li .popup_login .block_login .form_block .form .item label {
    font-size: 14px; color: #000; line-height: 14px; display: block;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .form_block .form .item input {
    width: 280px; height: 31px; border: 1px solid #ccc;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    outline: none; padding: 5px 10px; font-size: 14px; color: #000;
    line-height: 14px; margin: 14px 0px;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .form_block .form .btn .enter_sign {
    padding: 0px 22px 0px 18px; border: none; outline: none;
    font-size: 14px; color: #fff; line-height: 30px; float: left;
    height: 30px; width: 100px; display: block; text-align: center; text-decoration: none;
    background-color: #3b7db5; text-transform: uppercase;}
header .wrap .top_header .lk_office ul li .popup_login .block_login .form_block .form .btn .forgot {
    display: inline-block; color: #303030; text-transform: none;
    font-size: 12px; margin-left: 9px; text-align: left; line-height: 30px; padding: 0;}
/* END LOGIN */

header .wrap .menu_header {position: relative; z-index: 9;}
header .wrap .menu_header a.logo_header {background: url('../img/logo_header.png') no-repeat transparent;
    height: 97px; width: 167px; display: block; margin-left: 3px;
    position: absolute; z-index: 10;top:-21px;}
header .wrap .menu_header .nav {padding: 35px 0px 0px 193px;}
header .wrap .menu_header .nav ul {list-style-type: none; margin: 0px; padding: 0px;}
header .wrap .menu_header .nav ul li {float: left;}
header .wrap .menu_header .nav ul li a {text-decoration: none; color: #eee; font-size: 18px; line-height: 25px;
    background: url('../img/border_nav.png') no-repeat transparent; height: 25px; display: block;
    padding: 0px 22px;}
header .wrap .menu_header .nav ul li a.first {background: no-repeat; padding-left: 0px;}

header .wrap .menu_header .number {font-size: 24px; color: #fff; line-height: 24px; text-align: right;
    padding: 34px 0px 10px 0px;}
/* END HEADER */

/* CONTAINER */
.container {background: url('../images/image_slider.png') no-repeat transparent; height: 430px;
    border-bottom: 10px solid #3b7db5; background-size: cover;}
.container .wrap .slider {padding-top: 53px;}
.container .wrap .slider .popular {width: 325px; margin-top: 20px; border: 4px solid #b3b3b3;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing:  border-box; border-top: none;}
.container .wrap .slider .popular table {width: 100%; margin-top: -8px;}
.container .wrap .slider .popular table tr td .item {height: 4px; background-color: #b3b3b3;}
.container .wrap .slider .popular table tr td.left_border > div {width: 10px;}
.container .wrap .slider .popular table tr td.right_border {width: 300px;}
.container .wrap .slider .popular table tr td.text_table {white-space: nowrap;}
.container .wrap .slider .popular table tr td.text_table span {padding: 0 4px;
    text-align: center; font-size: 21px; color: #fff; line-height: 21px;}
.container .wrap .slider .popular p.title {margin: 0; margin-top: -14px; text-align: center;
    margin-left: 15px; margin-right: 45px; font-size: 21px; color: #fff; line-height: 21px;
    background-color: #3ca8f8;}

.container .wrap .slider .popular .table_town {margin: 20px 7px 0px 7px;}
.container .wrap .slider .popular .table_town .row_town {background-color: #fff;
    margin-bottom: 5px; padding: 3px 3px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing:  border-box;border: 1px solid #405775;}
.container .wrap .slider .popular .table_town .row_town .cell_town.foto {background-color: #000;
    height: 39px; width: 52px; margin-right: 8px;}
.container .wrap .slider .popular .table_town .row_town .cell_town.text {width: 130px; color: #494949;
    font-size: 16px; line-height: 16px; padding: 4px 0px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing:  border-box;}
.container .wrap .slider .popular .table_town .row_town .cell_town.price {width: 105px; color: #3b7db5;
    font-size: 18px; line-height: 40px;}

.container .wrap .slider .form .tabs .menu_cont ul {padding: 0px; margin: 0px; list-style-type: none;}

.container .wrap .slider .form .tabs .block {float: left; position: relative;}
.container .wrap .slider .form .tabs .block a {position: relative; z-index: 20; display: block;
    padding: 10px 65px; text-decoration: none; color: #6d90ad;}

.container .wrap .slider .form .tabs .block:before,
.container .wrap .slider .form .tabs .block:after {background-color: #295e8b;
    content: ""; width: 50%; position: absolute; top: 0; left: 0; bottom: 0; z-index: 10;
    border: 1px solid transparent; border-bottom: 1px solid #6ca2cf;
    -webkit-transform: skewX(-30deg); transform: skewX(-30deg);}

.container .wrap .slider .form .tabs .block:after {left: auto; right: 0; border-left: none;}
.container .wrap .slider .form .tabs .block:last-child:after {width: 80%; -webkit-transform: skewX(0);
    transform: skewX(0);}
.maintext{border: 1px solid #d6d5d5;
    padding: 10px;text-align: justify;
    font-size: 14px;}
.container .wrap .slider .form .tabs .block.active:after,
.container .wrap .slider .form .tabs .block.active:before {background-color: #0088db;
    border: 1px solid #6ca2cf;}
.container .wrap .slider .form .tabs .block.active:after {border-left: none;}
.container .wrap .slider .form .tabs .block.active a {color: #fff;}

.container .wrap .slider .form .container_form {width: 610px; border: 1px solid #6ca2cf;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing:  border-box; height: 270px; background-color: #0088db;
    margin-top: -1px;}
.container .wrap .slider .form .container_form .tabs_menu .block .element {width: 44%;
    margin: 15px 3% 10px 19px; position: relative; z-index: 200;}
.container .wrap .slider .form .container_form .tabs_menu .block .element.to {margin-left: 0px;}
.container .wrap .slider .form .container_form .tabs_menu .block .element label,
.container .wrap .slider .form .container_form .tabs_menu .block.date .item_1 label {font-size: 16px; color: #fff;
    line-height: 16px; text-align: left; display: block; padding-bottom: 7px;}
.container .wrap .slider .form .container_form .tabs_menu .block .element input,
.container .wrap .slider .form .container_form .tabs_menu .passen input {width: 260px; height: 30px;
    outline: none; padding: 5px 30px 5px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box; border: none; font-size: 14px; color: #3e3e3e;}
.container .wrap .slider .form .container_form .tabs_menu .block .element span.arrow,
.container .wrap .slider .form .container_form .tabs_menu .passen span.arrow {width: 30px; display: block;
    height: 30px; background: url('../img/arrow_form.png') no-repeat center center #dadada;
    position: absolute; z-index: 201; top: 23px; right: 7px; cursor: pointer;}
input::-webkit-input-placeholder {color: #505050; font-size: 14px; line-height: 18px;}
input::-moz-placeholder {color: #505050; font-size: 14px; line-height: 18px;}

.container .wrap .slider .form .container_form .tabs_menu .block.date {width: 47%; float: right;
    padding-top: 11px;}
.container .wrap .slider .form .container_form .tabs_menu .block.date .item_1 {position: relative; z-index: 10;}
.container .wrap .slider .form .container_form .tabs_menu .block.date .item_1 label {display: inline-block;
    padding-right: 5px; padding-bottom: 0; margin-top: 6px;}
.container .wrap .slider .form .container_form .tabs_menu .block.date .item_1 input {width: 145px;
    height: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 2px 32px 2px 10px; outline: none; border: none; float: right; margin: 5px 9% 5px 0px;}
.container .wrap .slider .form .container_form .tabs_menu .block.date .item_1 span.calendar {
    position: absolute; z-index: 301; top: 5px; right: 26px; display: block; cursor: pointer;
    background: url('../img/ico_calendar.png') no-repeat #dadada center center; height: 20px; width: 30px;}
.container .wrap .slider .form .container_form .tabs_menu .checkbox {padding-left: 19px; margin-top: 10px;}
.container .wrap .slider .form .container_form .tabs_menu .checkbox ul {margin: 0; padding: 0; list-style-type: none;}
.container .wrap .slider .form .container_form .tabs_menu .checkbox ul li .element {padding: 5px 0px;}

.container .wrap .slider .form .container_form .tabs_menu .btn_cards .block.buttons {margin: 29px 25px 0px 0px;}
.container .wrap .slider .form .container_form .tabs_menu .btn_cards .block.buttons input {
    color: #3c3c3c; font-size: 18px; height: 36px; line-height: 36px; background-color: #eaeaea;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 0px 44px; border: none; outline: none;
    border-right: 1px solid #1a374f; border-bottom: 1px solid #1a374f}
.container .wrap .slider .form .container_form .tabs_menu .btn_cards .cards {margin-left: 19px; margin-top: 29px;}
.container .wrap .slider .form .container_form .tabs_menu .btn_cards .cards ul {padding: 0px;
    margin: 0px; list-style-type: none;}
.container .wrap .slider .form .container_form .tabs_menu .btn_cards .cards ul li {float: left; margin-right: 7px;}
.container .wrap .slider .form .container_form .tabs_menu .btn_cards .cards ul li a {text-decoration: none;
    display: block; background: url('../img/cards_form.png') no-repeat; height: 33px; width: auto;}
.container .wrap .slider .form .container_form .tabs_menu .btn_cards .cards ul li a.card_1 {
    background-position: 0px 0px; width: 50px;}
.container .wrap .slider .form .container_form .tabs_menu .btn_cards .cards ul li a.card_2 {
    background-position: -70px 0px; width: 49px;}
.container .wrap .slider .form .container_form .tabs_menu .btn_cards .cards ul li a.card_3 {
    background-position: -140px 0px; width: 55px;}

.popular_container {background-color: #f6fffe;}
.popular_container .wrap {padding: 45px 0px;}
.popular_container .wrap .title_ {font-size: 36px; color: #565657; line-height: 36px; text-align: left;
    padding-bottom: 20px;}
.popular_container .wrap .block .row_block {width: 100%; margin-bottom: 13px;}
.popular_container .wrap .block .row_block .cell_block {width: 32%; margin-right: 1%;
    margin-bottom: 10px;
    float: left; border: 1px solid #d6d5d5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    box-sizing: border-box; background-color: #f4f4f4; padding: 10px 10px 15px 10px;}
.popular_container .wrap .block .row_block .cell_block:last-of-type {margin-right: 0%;}
.popular_container .wrap .block .row_block .cell_block .foto_block {width: 50%;}
.popular_container .wrap .block .row_block .cell_block .foto_block .images {width: 139px; height: 140px;
    background-color: #b98989;position: relative; z-index: 80;}
.popular_container .wrap .block .row_block .cell_block .foto_block .price_ {background-color: #e1f2ff;
    width: 100%; height: 30px; position: absolute; z-index: 81;
    height: 30px; bottom: 0; text-align: center; font-size: 18px; font-weight: bold;
    line-height: 30px; color: #3a3a3a; border-top: 1px solid #3a3a3a;
    white-space: nowrap; -moz-opacity: 0.9; opacity: 0.9;}
.popular_container .wrap .block .row_block .cell_block .bottom_btn {margin-top: 35px;}
.popular_container .wrap .block .row_block .cell_block .bottom_btn .item a {font-size: 14px; color: #fff; line-height: 30px;
    height: 30px; width: 140px; display: block; text-align: center; text-decoration: none; background-color: #3b7db5;}
.popular_container .wrap .block .row_block .cell_block .text_block {width: 47%; margin-left: 3%;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.popular_container .wrap .block .row_block .cell_block .text_block .text div p {margin: 0px; color: #3a3a3a;
    font-size: 16px; line-height: 18px; text-align: left;}
.popular_container .wrap .block a.more_text {text-align: center; display: inline;
    background: url('../img/border_more.png') repeat-x bottom; text-decoration: none;
    color: #565657; font-size: 16px; line-height: 18px; padding-top: 3px; padding-bottom: 2px;}
div.more{cursor:pointer;}

/* SOCIAL_BLOCK (EDIT)*/
.popular_container .wrap .social_block .vk,
.popular_container .wrap .social_block .fb {width: 47%; height: 280px; margin: 0 0 0 2%;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box; text-align: center;}
.popular_container .wrap .social_block .vk {margin: 0 2% 0 0;}
/* END SOCIAL_BLOCK */


/* PAGE_2 */
.container.page_2 {background: none; height: auto; background-color: #e1f2ff;}
.container.page_2 .wrap {padding: 40px 0px 5px 0px;}
.container.page_2 .wrap .container_form .block {margin-right: 10px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.container.page_2 .wrap .container_form .block .element {margin-bottom: 5px;}
.container.page_2 .wrap .container_form .block .element:last-of-type {margin-bottom: 0px;}
.container.page_2 .wrap .container_form .block .element.item {position: relative; }
.container.page_2 .wrap .container_form .block .element label,
.container.page_2 .wrap .container_form .block .element.item_1 label {font-size: 14px; color: #525252;
    line-height: 30px; text-align: left; display: inline-block; float: left;}

.container.page_2 .wrap .container_form .block .element input,
.container.page_2 .wrap .container_form .block .element.item_1 input {width: 210px; height: 30px;
    outline: none; padding: 5px 10px 5px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box; border: none; font-size: 14px; color: #505050;
    border: 1px solid #9a9a9a; margin-left: 5px; float: right;}

.container.page_2 .wrap .container_form .block .element span.arrow {width: 30px; display: block;
    height: 28px; background: url('../img/arrow_form.png') no-repeat center center #dadada;
    position: absolute; z-index: 201; top: 1px; right: 1px; cursor: pointer;}
input::-webkit-input-placeholder {color: #505050; font-size: 14px; line-height: 18px;}
input::-moz-placeholder {color: #505050; font-size: 14px; line-height: 18px;}

.container.page_2 .wrap .container_form .block .checkbox {margin-bottom: 5px;}
.container.page_2 .wrap .container_form .block .checkbox ul {margin: 0; padding: 0; list-style-type: none;}
.container.page_2 .wrap .container_form .block .checkbox ul li {padding: 0px;}
.container.page_2 .wrap .container_form .block .checkbox ul li:last-of-type {margin-left: 50px;}
.container.page_2 .wrap .container_form .block .checkbox ul li .element.radio label {line-height: 12px;}
.container.page_2 .wrap .container_form .block .element.item_1 input {width: 115px; height: 20px;}
.container.page_2 .wrap .container_form .block .element.item_1 {position: relative; z-index: 300;}
.container.page_2 .wrap .container_form .block .element.item_1 span.calendar {
    position: absolute; z-index: 301; top: 1px; right: 1px; display: block; cursor: pointer;
    background: url('../img/ico_calendar.png') no-repeat #dadada center center; height: 18px; width: 30px
}
.container.page_2 .wrap .container_form .block .element.item_1 label {line-height: 20px;}

.container.page_2 .wrap .container_form .block.buttons {margin: 21px 0px 0px 0px;}
.container.page_2 .wrap .container_form .block.buttons input {
    color: #3c3c3c; font-size: 18px; height: 36px; line-height: 36px; background-color: #eaeaea;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 0px 44px; border: none; outline: none;
    border-right: 1px solid #1a374f; border-bottom: 1px solid #1a374f;}

.popular_container .wrap {padding-bottom: 20px;}
.popular_container .wrap .title.select {padding-bottom: 20px;}
.popular_container .wrap .title.select .form_select .item label {font-size: 16px; color: #3e3e3e;
    display: inline-block;}
.popular_container .wrap .title.select .form_select .item.check {margin-left: 20px; line-height: 30px;}
.popular_container .wrap .title.select .form_select .item label.label_transport {cursor: pointer;}
/* END PAGE_2 */

/* END CONTAINER */

/* FOOTER */
footer {min-height: 50px; background-color: #3b7db5;
    padding: 10px 0px;
    font-size: 12px;
    color: rgb(191, 213, 241);}
footer .wrap {}
footer a{color: rgb(191, 213, 241);}
/* END FOOTER */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

td.calendar_actdate_charter a {
    color: blue!important;
    font-weight: bold!important;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#back-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 99;
}
#back-top a {
    width: 54px;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #909090;

    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
#back-top a:hover {
    color: #c6c6c6;
}

#back-top span {
    width: 54px;
    height: 39px;
    display: block;
    margin-bottom: 7px;
    background: url('/static/images/up-arrow.png') no-repeat center center;
    opacity: 1;
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader() !  important;
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;

    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
#back-top a:hover span {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
header .wrap .top_header .lk_office ul li .popup_login .block_login .social ul li a.vk {
    font-size: 17px; text-transform: uppercase; text-align: center; background: none;
    background-color: #356bdb; color: #fff; font-weight: bold; line-height: 35px;}

.element.dep.item_1 .data-check,.del{
    display:none; cursor: pointer; position: absolute; width: 15px; top: 22px;left: 7px;
}
#vk_like,#vk_like1,#vk_like2,#vk_like3,#vk_like4,#vk_like5{
    top:-10px;
}

.order_ticket {
    padding: 0px 22px 0px 18px; border: none; outline: none;
    font-size: 14px; color: #fff; line-height: 30px;
    height: 30px; width: 157px; display: block; text-align: center; text-decoration: none;
    background-color: #3b7db5; text-transform: uppercase;
    margin-top: 10px; cursor: pointer;
}