label {-webkit-touch-callout: none; -webkit-user-select: none;
		-khtml-user-select: none; -moz-user-select: none;
		-ms-user-select: none; user-select: none;}

input[type=radio].transport {position: absolute; overflow: hidden;
		clip: rect(0 0 0 0); height: 1px; display: block;
		width: 1px; margin: -1px; padding: 0; border: 0;}

input[type=radio].transport + label.label_text {vertical-align: inherit; cursor: pointer;
		padding: 0px 0px 0px 16px; height: 9px; display: inline-block; line-height: 9px;
		background-repeat: no-repeat; font-size: 16px; color: #fff; margin: 2px 0px 6px;}

input[type=radio].transport:checked + label.label_text {background-position: left bottom;}

.label_text {display: block; background: url('../img/checkbox_ico.png') left top no-repeat;}


